.container {
  margin: 0;
  padding: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(2, 2, 2, 0.6), rgba(7, 7, 7, 0.6)),
    url("/src/assets/169815923239.jpg") no-repeat center/cover;
  text-align: center;
  position: relative;
  z-index: 100;
}

.container h2 {
  color: #ffffff;
  font-size: 4vw;
}

.form_signin {
  display: flex;
  justify-content: center;
}
.form_signin input {
  padding: 1rem;
  margin: 1rem;
  width: 25rem;
  height: 6rem;
  background: linear-gradient(rgba(90, 88, 88, 0.164), rgba(39, 38, 38, 0.13));
  border: 0.2rem solid rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  border-radius: 1rem;
  color: #ffffff;
  transition: all 0.5s;
}
.form_signin input::placeholder {
  color: #b6b3c0;
  font-size: 15px;
}

.errorcontainer {
  display: flex;
  justify-content: center;
}

.error {
  color: #ffffff;
  font-size: 14px;
}

.btn {
  width: 25rem;
  height: 6rem;
  border-radius: 1rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(rgba(90, 88, 88, 0.164), rgba(39, 38, 38, 0.13));
  border: 0.2rem solid rgb(255, 255, 255);
  color: #ffffff;
  font-size: 2rem;
}

.btn:hover {
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
  transition: all 2ms;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.btn_link {
  text-decoration: none;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
}

.btn_link:hover {
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
  transition: all 2ms;
  color: rgb(78, 78, 78);
}

.textBottom {
  padding-top: 10px;
  font-size: 12px;
}
.textBottom a {
  text-decoration: none;
  color: #ffffff;
}

.checkbox_register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox_register input {
  width: 5%;
  color: #ffffff;
}
.checkbox_register label {
  color: #ffffff;
  font-size: 15px;
}

.role {
  color: #ffffff;
  font-size: 20px;
}
.hide {
  display: none;
}

p {
  color: #ffffff;
}

.avatar_img img {
  width: 10vw;
  border-radius: 50%;
  position: absolute;
}

.avatar_svg {
  margin-bottom: 2vw;
  margin-top: 2vw;
  color: #fff;
  font-size: 5vw;
}

.cont_av_img {
  cursor: pointer;
  left: 6.5vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 9vw;
  border: 3px solid #fff;
  border-radius: 50%;
  transition: all 0.4s ease-out;
}
.cont_av_img:hover {
  transition: all 0.4s ease-out;
  box-shadow: -2px -2px 10px 3px rgb(223, 219, 219),
    2px 2px 10px 3px rgb(88, 88, 170);
}


.cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar_img_cont {
  position: relative;
  cursor: pointer;
  height: 24vw;
}
.avatar_img_cont_crop {
  border-radius: 50%;
  overflow: hidden;
}

.avatar_img_cont img {
  position: relative;
  cursor: pointer;
  height: 24vw;
}

.avatar_change {
  position: relative;
  width: 10vw;
  height: 10vw;
}

.registerSucessModal {
  width: 35vw;
  height: 30vh;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -80%);
  justify-content: center;
  align-items: center;
  display: none;
  background: linear-gradient(90deg, #190b3f, #7c6981, #631163, #7f6fc4);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.registerSucessModal.registerSucessModalOn {
  display: flex;
}
.container_popup {
  align-items: center;
}
.container_popup p {
  color: #ffffff;
}
.window_popup {
  width: 95%;
  height: 95%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  --c: no-repeat radial-gradient(farthest-side, #d8d6e0 92%, #f1ecec00);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#ffffff00 0 35deg, #a9a6b8 0 90deg);
  mask: radial-gradient(
    farthest-side,
    #ebe3e300 calc(100% - 3px),
    #000 0
  );
  border-radius: 50%;
}
@keyframes l18 {
  100% {
    transform: rotate(0.5turn);
  }
}
.timer_container {
  color: white;
  position: absolute;
  font-size: 0, 5vw;
  top: 17px;
}
