.h1style{
    display: flex;
    justify-content: center;
    padding: 3%;
    color: #000000;
    width: 50vw;
}
.menu{
  border: 1px solid;
    text-align: center;
}

.group_settings{
    margin: 2%;
    width: 20vw;
    font-size: 20px;
}

.group_settings h2{
  text-align: left;
  padding-top: 2%;
  font-size: 17px;
    color: rgb(77, 81, 85);
}

.checkbox_module{
  font-size: 15px;
  padding-left: 4%;
   margin: 1%;
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    column-gap: 8%;
}
  .btn{
    margin: 5%;
    width: 18vw;
    height: 4vw;
    border-radius: 1rem;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(rgba(90, 88, 88, 0.164),rgba(39, 38, 38, 0.13));
    border: .2rem solid rgb(10, 10, 10);
    color: #131010;
    font-size: 1vw;
}
 
.btn:hover{
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
    background-color: rgb(14, 12, 12);
    color:rgb(0, 0, 0);
}

.btn:disabled {
  background: linear-gradient(rgba(199, 197, 197, 0.164),rgba(131, 129, 129, 0.13));
  border: .2rem solid rgba(131, 129, 129, 0.13);
  color: #838383;
}

.check {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.customcheck{
  position: relative;
display: inline-block;
width: 20px;
height: 20px;
background: #747171;
border: 2px solid #625c97;
border-radius: 4px;
vertical-align: sub;
margin-right: 5px;
}

.customcheck::before{
  content: '';
display: inline-block;
width: 13px;
height: 13px;
background-image: url("/src/assets/check.svg");
background-size: contain;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scale(0);
margin-top: 1px;
transition: 0.2s ease-in;
}

.check:hover + .customcheck::before {
  box-shadow: 0px 0px 0px 1px #858484, 0px 0px 10px #ffffff;

}
.check:checked + .customcheck::before{

  transform: translate(-50%, -50%) scale(1);
}

.checkbox_module label{
  padding-top: 5px;
  color: #979797;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.checkbox_module label:hover{
  color: #9797ca;
  -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.labelmenu{
  text-align: justify;
  font-size: 15px;
  color: rgb(158, 164, 170);
  padding-top: 5px;
    margin: 0;
}

.labelInterface{
  padding-top: 2vh;
  color: #979797;
  font-size: 17px;
}